@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkCEv18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv18E.ttf) format('truetype');
}
/* colors */
/* fonts */
/* BLOGS */
.blogs {
  margin-bottom: 30px;
  width: 100%;
  min-height: 300px;
  background-image: linear-gradient(45deg, rgba(31, 63, 105, 0.7) 10%, rgba(66, 165, 245, 0.2) 50%), url(../img/blog-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.blogsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  width: 100%;
  min-height: 300px;
  color: #ffffff;
}
.blogsInner {
  width: 50%;
}
.blogsInner h1 {
  color: #ffffff;
}
/* SEARCHING */
/* FORM */
.searchArticle {
  padding: 30px 0;
}
form {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #F9F0DA;
  border-radius: 10px;
}
input,
button {
  border: none;
  outline: none;
  background: transparent;
}
input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
}
button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
button:before {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 20px;
  color: #be290e;
}
/* POPULAR */
.popular {
  width: 100%;
}
.popularBox {
  margin-bottom: 30px;
  border-bottom: 1px solid #b9b9b9;
}
.popularInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popularContent {
  width: 48%;
  margin-bottom: 15px;
}
.popularImage {
  width: 48%;
}
.popularContent h4 {
  margin-bottom: 30px;
}
.popularContent p {
  margin-bottom: 30px;
}
.contentOther,
.secondOther {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.otherLeft p {
  margin-bottom: 5px;
}
.otherRight {
  margin-left: 100px;
}
.secondInner {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.secondCard {
  width: 32%;
  margin-bottom: 15px;
}
.secondCard h5 {
  margin-bottom: 20px;
}
.cardImage {
  margin-bottom: 20px;
}
.secondLeft p {
  margin-bottom: 5px;
}
.popularPic img,
.cardImage img {
  display: block;
  width: 100%;
}
.secondAll {
  margin: 20px 0;
  text-align: right;
}
/* MYBLOG */
.myblog {
  width: 100%;
  margin-bottom: 50px;
}
.myblogBox {
  width: 100%;
  margin: 30px 0;
}
.myblogInner {
  margin-top: 30px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.myblogImage {
  margin-bottom: 10px;
  width: 30%;
}
.myblogContent {
  width: 65%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blogtOther {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.blogLeft p {
  margin-bottom: 5px;
}
.blogRight {
  margin-left: 100px;
}
.myblogContent h4 {
  margin-bottom: 20px;
}
/* MEDIA */
@media (min-width: 576px) and (max-width: 767.98px) {
  /*blogs*/
  .blogsInner {
    width: 70%;
  }
  /* popular */
  .otherRight {
    margin-left: 30px;
  }
  .secondCard {
    width: 48%;
  }
  .cardNone {
    display: none;
  }
  /* myblog */
  .myblogInner {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .myblogImage {
    width: 100%;
  }
  .myblogContent {
    width: 100%;
  }
  .myblogContent {
    width: 100%;
    margin-left: 0;
  }
  .blogRight {
    margin-left: 30px;
  }
}
@media (max-width: 575.98px) {
  /*blogs*/
  .blogsInner {
    width: 100%;
  }
  /* popular */
  .popularInner {
    display: flex;
    flex-direction: column;
  }
  .popularContent {
    width: 100%;
  }
  .ContentNone {
    display: none;
  }
  .contentOther {
    display: flex;
    justify-content: flex-start;
  }
  .popularImage {
    width: 100%;
  }
  .otherRight {
    margin-left: 30px;
  }
  .secondInner {
    display: flex;
    flex-direction: column;
  }
  .secondCard {
    width: 100%;
    margin-bottom: 20px;
  }
  .secondCard h5 {
    margin-bottom: 10px;
  }
  /* myblog */
  .myblogInner {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .myblogImage {
    width: 100%;
  }
  .myblogContent {
    width: 100%;
  }
  .myblogContent {
    width: 100%;
    margin-left: 0;
  }
  .blogRight {
    margin-left: 30px;
  }
}
