@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkM0o18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkCEv18E.ttf) format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkBgv18E.ttf) format('truetype');
}
/* colors */
/* fonts */
/* BLOGS */
.blogs {
  margin-bottom: 50px;
  width: 100%;
  min-height: 300px;
  background-image: linear-gradient(45deg, rgba(31, 63, 105, 0.7) 10%, rgba(66, 165, 245, 0.2) 50%), url(../img/blog-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.blogsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  width: 100%;
  min-height: 300px;
  color: #ffffff;
}
.blogsInner {
  width: 50%;
}
.blogsInner h1 {
  color: #ffffff;
}
/* CONTACTS */
.contactsBox {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.innerContact {
  width: 28%;
}
.innerContact h4 {
  margin: 20px 0;
}
.innerForm {
  padding: 30px 0;
  width: 38%;
  background-color: #ffffff;
  box-shadow: 0px 5px 10px 6px rgba(34, 60, 80, 0.2);
  border-radius: 15px;
}
.formDiscount {
  margin: auto;
  width: 80%;
}
.formDiscount h4 {
  margin-bottom: 20px;
}
.form-group label {
  margin: 10px 0;
}
.contactImg {
  margin-bottom: 20px;
  width: 80%;
}
.contactImg img {
  display: block;
  width: 100%;
}
.phoneBox {
  display: flex;
  justify-content: flex-start;
}
.phoneBox img {
  margin-right: 10px;
}
.phoneBox:first-child {
  margin-bottom: 10px;
}
.btnSubmit {
  margin-top: 30px;
  background-color: #5a98d0;
  color: #ffffff;
  text-transform: uppercase;
}
textarea {
  resize: none;
}
/* MAPS */
.mapsBox {
  margin-top: 20px;
  margin-bottom: 50px;
}
.googlemap {
  border-radius: 10px;
  border: none;
}
/* MEDIA */
@media (min-width: 768px) and (max-width: 991.98px) {
  .innerContact {
    width: 43%;
  }
  .innerForm {
    width: 54%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  /*blogs*/
  .blogsInner {
    width: 70%;
  }
  .innerContact {
    width: 38%;
  }
  .innerForm {
    width: 60%;
  }
}
@media (max-width: 575.98px) {
  /*blogs*/
  .blogsInner {
    width: 100%;
  }
  .contactsBox {
    display: flex;
    flex-direction: column;
  }
  .innerContact {
    width: 100%;
    margin-bottom: 30px;
  }
  .innerForm {
    width: 100%;
  }
}
