@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "variables.less";
html, body {
   height: 100%;
}
body {
   background-color: @body-bg;
   font-family: @font-quicksand;
   margin: 0;
   padding: 0;
}
h1 {
   font-family: @font-quicksand;
   font-size: 60px;
   color: @color-blue;
   line-height: 74px;
}
h3 {
   font-family: @font-quicksand;
   font-size: 36px;
   color: @color-blue1;
   line-height: 46px;
}

nav a {
   color: @color-white;
}
ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}
li {
   margin: 0 5px;
}
a:hover {
   text-decoration: none;
}
.wrapper {
   min-height: 100%;
}
.container {
   max-width: 1200px;
}

/* BUTTON */
.startBtn {
   padding: 15px 48px;
   background-color: @color-more;
   color: @color-white;
   max-width: 220px;
   height: 56px;
   font-size: 16px;
   line-height: 26px;
   border-radius: 10px;
}

/* HEADER */
.header{
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
   background-color: @header-bg;
}
.headerBox {
   min-height: 60px;
   padding: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

/* MENU */
.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 2;
}
.mobile-menu__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 30px;
  cursor: pointer;
  transition: .4s;
}
.mobile-menu__icon {
  display: block;
  position: relative;
  background: white;
  width: 90%;
  height: 4px;
  transition: .4s;
}
.mobile-menu__icon::after, .mobile-menu__icon::before {
  content: "";
  display: block;
  position: absolute;
  background: white;
  width: 100%;
  height: 4px;
  transition: .4s;
}
.mobile-menu__icon::after {
  top: 9px;
}
.mobile-menu__icon::before {
  top: -9px;
}
.mobile-menu__container {
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 3;
  height: 0;
  opacity: 1;
  transition: .5s;
  overflow: hidden;
  background-color: #6aa5d6;
}
.mobile-menu__list {
  transition: .5s;
  list-style: none;
  padding-left: 0;
}
.mobile-menu__item {
  font-size: 20px;
}
.mobile-menu__link {
  text-decoration: none;
  color: #fff;
}
.mobile-menu__checkbox {
  display: none;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__nav {
  opacity: 1;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__container {
  height: 8%;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
  background: transparent;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  top: 0;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}


/* INTRO */
.intro {
   margin-top: 60px;
   background: linear-gradient(360deg, rgba(152, 195, 232, .4)
   10%, rgba(230, 230, 230, .4) 30%);
}
.introBox {
   min-height: 100vh;
   padding: 30px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.introContent {
   width: 48%;
}
.introImage {
   width: 48%
}
.introImage img {
   display: block;
   width: 100%;
}
.subtitle {
   width: 80%;
   margin: 20px 0;
}

/* DIGITAL */
.digitalBox {
   padding: 30px 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.title {
   width: 60%;
}
.digitalInner {
   width: 48%;
}
.digitalCard {
   padding: 40px;
   width: 70%;
   margin: 30px auto;
   background-color: @color-white;
   border-radius: 10px;
   box-shadow: 0px 5px 10px 3px rgba(90, 152, 208, .3);
}
.digitalCard p {
   margin: 14px 0;
}
.cardImg {
   margin-bottom: 30px;
   display: flex;
   justify-content: center;
}
.cardLeft {
   margin-top: 200px;
}

/* FINISHED */
.finishedBox {
   padding: 30px 0;
   width: 100%;
}
.finishedInner {
   margin-bottom: 60px;
   display: flex;
   justify-content: flex-start;
}
.finishedTitle {
   width: 20%;
   margin-right: 150px;
}
.finishedSubtitle {
   width: 60%;
}
.finishedIntro {
   position: relative;
   margin-bottom: 50px;
   width: 100%;
   min-height: 400px;
   background-image: linear-gradient(45deg, rgba(31, 63, 105, .9)
   10%, rgba(66, 165, 245, .2) 70%), url(../img/finished1.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   border-radius: 10px;
}
.finishedIntro h6,
.finishedContent h6 {
   padding-top: 30px;
   text-align: right;
   margin-right: 30px;
   font-family: @font-quicksand;
   font-size: 28px;
   color: @color-white;
   line-height: 46px;
}
.finishedIntro p,
.finishedContent p {
   text-align: right;
   margin-right: 30px;
   font-family: @font-quicksand;
   font-size: 16px;
   color: @color-white;
   line-height: 46px;
}
.finishedIntro img {
   position: absolute;
   bottom: 0;
   left: 0;
}
.finishedIntroBox {
   display: flex;
   justify-content: space-between;
}
.finishedContent {
   position: relative;
   margin-bottom: 30px;
   width: 47%;
   min-height: 400px;
   background-image: linear-gradient(45deg, rgba(31, 63, 105, .9)
   10%, rgba(66, 165, 245, .2) 70%), url(../img/finished2.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   border-radius: 10px;
}
.contentRight {
   background-image: linear-gradient(45deg, rgba(31, 63, 105, .9)
   10%, rgba(66, 165, 245, .2) 70%), url(../img/finished3.jpg);
}
.finishedContent h6,
.finishedContent p {
   text-align: left;
   margin-left: 30px;
}

/* CLIENT */
.client {
   width: 100%;
   border-radius: 100px 100px 0 0;
   background-color: @color-more;
}
.clientBox {
   padding: 30px 0;
   width: 100%;
}
.logoSection {
   margin-bottom: 60px;
}
.logoInner{
   text-align: center;
   display: flex;
   justify-content: space-between;
}
.logoInner:first-child {
   border-bottom: 1px solid @color-white;
}
.clientLogo {
   padding: 20px 0;
   width: 25%;
   border-right: 1px solid @color-white;
   text-transform: uppercase;
   color: @color-white;
}
.clientLogo:last-child {
   border-right: 0;
}
.clientLogo.active {
   background-color: @color-blue;
}

/* TEAM */
.team {
   width: 100%;
}
.teamBox {
   width: 100%;
   padding: 80px 0;
   display: flex;
   justify-content: space-between;
}
.teamInner {
   width: 70%;
}
.teamTitle {
   width: 50%;
}
.teamSubtitle {
   width: 80%;
}
.btnInner {
   width: 30%;
   padding-top: 60px;
}

/* FOOTER */
.footer {
   width: 100%;
   min-height: 50px;
   background-color: @header-bg;
}
.footerBox {
   padding: 20px 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.footerInner {
   width: 60%;
   display: flex;
   flex-direction: column;
}
.footerInner p {
   margin-bottom: 7px;
}
.footerContact {
   display: flex;
   flex-direction: column;
}
.footerAbout {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
}
.footerSocial {
   margin-top: 10px;
   display: flex;
   flex-direction: column;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   h1 {
      font-size: 50px;
      line-height: 54px;
   }
}
@media (min-width: 768px) and (max-width: 991.98px) {
   h1 {
      font-size: 46px;
      line-height: 50px;
   }
   .introContent {
      width: 58%;
   }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   h1 {
      font-size: 34px;
      line-height: 38px;
   }
   .introBox {
      padding-top: 60px;
      min-height: 60vh;
      display: flex;
      flex-direction: column;
   }
   .introContent {
      width: 60%;
      margin-bottom: 20px;
   }
   .introImage {
      width: 60%;
   }
   .subtitle {
      width: 100%;
      margin: 20px 0;
   }
   .digitalBox {
      display: flex;
      flex-direction: column;
   }
   .digitalInner {
      width: 100%;
      display: flex;
      flex-direction: column;
   }
   .cardLeft {
      margin-top: 50px;
   }
   .client {
      width: 100%;
      border-radius: 20px 20px 0 0;
      background-color: @color-more;
   }
   .teamTitle {
      width: 80%;
   }
   .footerAbout {
      display: none;
   }
}
@media (max-width: 575.98px) {
   h1 {
      font-size: 34px;
      line-height: 38px;
   }
   .introBox {
      padding-top: 60px;
      min-height: 55vh;
      display: flex;
      flex-direction: column;
   }
   .introContent {
      width: 100%;
      margin-bottom: 20px;
   }
   .introImage {
      width: 100%;
   }
   .subtitle {
      width: 100%;
      margin: 20px 0;
   }
   .digitalBox {
      display: flex;
      flex-direction: column;
   }
   .digitalInner {
      width: 100%;
      display: flex;
      flex-direction: column;
   }
   .cardLeft {
      margin-top: 50px;
   }
   .digitalCard {
      padding: 40px;
      width: 100%;
   }
   .title {
      width: 100%;
   }
   .finishedInner {
      display: flex;
      flex-direction: column;
   }
   .finishedTitle {
      width: 100%;
   }
   .finishedSubtitle {
      width: 100%;
   }
   .finishedIntroBox {
      display: flex;
      flex-direction: column;
   }
   .finishedContent {
      width: 100%;
   }
   .client {
      width: 100%;
      border-radius: 20px 20px 0 0;
   }
   .teamBox {
      display: flex;
      flex-direction: column;
   }
   .teamInner {
      width: 100%;
   }
   .teamTitle {
      width: 100%;
   }
   .teamSubtitle {
      width: 100%;
   }
   .btnInner {
      width: 30%;
      padding-top: 10px;
   }
   .finishedIntro img {
      width: 70%;
   }
   .footerBox {
      display: flex;
      flex-direction: column;
   }
   .footerLogo {
      text-align: center;
   }
   .footerInner {
      width: 100%;
   }
   .footerAbout {
      display: none;
   }
   .footerSocial {
      display: none;
   }
}
